@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono');

body {
  background-color: #102C30;
  color: #EEB44B;
  font-size: 2em;
  font-family: 'Ubuntu Mono', monospace;
}

.App {
  text-align: center;
}
.cursor {
  animation: blinking 1s ease-in-out infinite;
}
.formPage {
  max-width: 450px;
  height: 650px;
  overflow: scroll;
  margin: 50px auto;
  padding: 50px;
  border: 5px solid #EEB44B;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2 {
  display: block;
}
button, input {
  border: 5px solid #EEB44B;
  color: #EEB44B;
  background: transparent;
  font-size: 1.2em;
}
.resultPage p {
  font-size: 0.8em;
  text-align: left;
  hyphens: auto;
}
.image_picker {
  width: 450px!important;
  margin: auto;
}
.image_picker > .responsive > img{
  width: 125px!important;
  height: 125px!important;
}
.captchaButton {
  float:right;
  margin-top:7px;
  margin-right: 7px;
}
.react-autosuggest__suggestions-list {
  list-style-type: none;
}
.react-autosuggest__suggestions-container--open {
  max-height: 300px;
  width: 400px;
  overflow: scroll;
}
.react-autosuggest__suggestions-list li {
  font-size: .8em;
  text-align: left;
  margin-bottom: 3px;
}
.react-autosuggest__suggestion--highlighted{
  background-color: #EEB44B;
  color: #102C30;
}
.icon {
  width:75px;
  height:75px;
}
.captchaBox {
  animation: flicker .6s ease 1;
}
.question{
  width: 100%;
}
p.kibaScoreResult {
  font-size: 2.2em;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  text-align: right;
}

input[type=checkbox] {
  display: none;
}
label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -15px;
  left: -50px;
  height: 50px;
  width: 50px;
  background-color: #eee;
  border: 5px solid #EEB44B;
}

/* On mouse-over, add a grey background color */
label:hover input[type=checkbox] ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label input[type=checkbox]:checked ~ .checkmark {
  background-color: #EEB44B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
  left: 18px;
  top: 10px;
  width: 10px;
  height: 20px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 50px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #eeb44b;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 7.5px solid rgba(238, 180, 75, 0.57);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #102c30;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -22.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eeb44b;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #eeb44b;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 7.5px solid rgba(238, 180, 75, 0.57);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #102c30;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #eeb44b;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #eeb44b;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 7.5px solid rgba(238, 180, 75, 0.57);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #102c30;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #eeb44b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #eeb44b;
}

@keyframes blinking {
  from, to {
    color: transparent;
  }
  50% {
    color: #EEB44B;
  }
}
@keyframes flicker {
  0%{
  opacity: .1;
  }
  15%{
  opacity: .8;
  }
  20%{
  opacity: .3;
  }
  83%{
  opacity:1;
  }
  87%{
  opacity:.3;
  }
  100%{
  opacity: 1;
  }
}